/* 하얀색 박스 */
.user_box {
  width: 411px;
  height: 528px;
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  margin: 0 auto;

  display: flex;
  flex-flow: column;
}

/* 환영합니다 제목 */
.title {
  color: #a38aec;
  font-size: 1.875em;
  padding: 67px 0 23px 0;
  border-bottom: 1px solid #c0afaf;
  margin-bottom: 23px;
  text-align: center;
  width: 345px;
}

/* 아이디 비밀번호 입력 창 */
.input_text {
  width: 345px;
  height: 55px;
  padding: 0 20px 0 20px;
  border: 0 solid black;
  background-color: #f4f2f2;
  border-radius: 10px;
}

.input_text:focus {
  outline: none;
}

.input_text::placeholder {
  font-size: 1.125em;
  color: #adadad;
}

/* display: inline */
.inline {
  display: inline;
}

/* 아이디 비밀번호 찾기 */
.find {
  color: #857f7f;
  font-size: 0.94em;
}

/* 아이디 기억하기 */
input[type="checkbox"].memorize_id_box {
  display: none;
}
input[type="checkbox"].memorize_id_box {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.2);
}
input[type="checkbox"].memorize_id_box:checked {
  content: "✔";
  font-size: 25px;
  width: 20px;
  height: 20px;
  background-color: white;
  text-align: center;
}
.memorize_id_txt {
  color: #948ddf;
  font-size: 0.94em;
}

/* 로그인 버튼 */
.btn {
  width: 345px;
  height: 50px;
  border-radius: 10px;
}
.btn:active {
  background-color: #857f7f;
}
.login {
  background-color: #a38aec;
  color: white;
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
