/* 하얀색 박스 */
.user_box {
  width: 505px;
  padding: 60px 0;

  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);

  margin: 0 auto;

  position: absolute;
  top: 100px;

  display: flex;
  justify-content: center;
}

.inner_container {
  width: 415px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 제목 */
.sub_title {
  font-family: "GmarketBold";
  font-size: 0.94em;
  align-self: flex-start;
  margin-bottom: 10px;
}

/* 상단 안내문구 */
.information {
  width: 409px;
  height: 84px;
  border-radius: 10px;
  background-color: #dff4ff;

  font-size: 0.88em;

  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.highlight {
  color: #097aff;
}

/* input div */
.input_div {
  margin-top: 30px;
}

/* input label */
.input_label {
  display: block;
  font-size: 0.94em;
}

/* input */
.input_middle {
  padding: 0 13px;
  width: 307px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
  margin-right: 10px;
}

.input_long {
  padding: 0 13px;
  width: 412px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
}

.input_number::placeholder {
  color: #858585;
  font-family: "GmarketLight";
  font-size: 0.75em;
}

.input_number::-webkit-outer-spin-button,
.input_number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_check_box {
  width: 20px;
  height: 20px;
  border-radius: 5px;
}

/* input 이메일 */
.input_email_id {
  padding: 0 13px;
  width: 114px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
  margin-right: 10px;
}

.input_email_host {
  padding: 0 13px;
  width: 153px;
  height: 40px;
  border-radius: 5px;
  border: 0.2px solid rgb(189, 189, 189);
  margin-right: 10px;
}

.input_email_host:read-only {
  background-color: #e6e6e6;
}

.at {
  margin-right: 11px;
}

/* display: inline */
.inline {
  display: inline;
}

/* 회원가입 버튼 */
.sign_up_btn {
  width: 144px;
  height: 55px;
  border-radius: 10px;
  background-color: #989cff;
  color: white;
  border: none;
  font-size: 1.25em;

  align-self: center;
}

/* 중복확인 버튼 */
.chk_id_btn {
  width: 98px;
  height: 40px;
  border-radius: 10px;
  background-color: #989cff;
  color: white;
  border: none;
  font-size: 0.94em;
}

/* input password 스타일 */
input[type="password"] {
  color: #606060;
}

/* input 하단에 뜨는 안내 문구 */
.sub_information {
  color: #858585;
  font-family: "GmarketLight";
  font-size: 0.78em;
  margin-top: 7px;
}

/* tos(이용약관) */
.tos {
  display: flex;
  align-self: flex-start;
  margin-bottom: 30px;
}

/* 맨 밑에 수도 박스(?) */
.user_box:last-child:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -100px;
  width: 100px;
  height: 100px;
}

@media (max-width: 540px) {
  .user_box {
    width: 360px;
    /* padding: 60px 0; */
  }

  .inner_container,
  .input_long,
  .information {
    width: 320px;
  }
  .input_middle {
    width: 212px;
  }
  .input_email_host {
    width: 159px;
  }
}
