.table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 2px #000;
}

.table td {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

/* 도형 */
.figure {
  width: 60px;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: space-evenly;
}

.figure_box {
  width: 280px;
  height: 280px;
  background-color: #d2d2d2;
}
