.stage {
  font-family: "GmarketBold";
  font-size: 1.4em;
  color: #787878;
  position: absolute;
  right: 15px;
  top: 10px;
}

.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 768px) {
  .title {
    font-size: 1.2em;
    margin-top: 30px;
  }

  .stage {
    font-size: 1.15em;
  }
}
