.table {
  border-collapse: collapse;
  border-radius: 10px;
  border-style: hidden;
  box-shadow: 0 0 0 2px #000;
}

.table td {
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

/* 도형 */
.figure {
  width: 60px;
}

.gameBoard {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  justify-content: center;
}

.marginTop {
  margin-top: 20px !important;
}

.figure_box {
  width: 80px;
  height: 180px;
  border-radius: 10px;
  margin-left: 50px;
}

.draggable {
  border: none;
  background-color: rgb(255, 255, 255, 0);
  width: 60px;
  height: 60px;
  font-size: 40px;
}

.result {
  position: absolute;
  top: -2px;
  left: -6px;
  z-index: 2;
  font-size: 60px;
}

.result_animal {
  position: absolute;
  top: 8px;
  left: 6px;
  z-index: 3;
  font-size: 40px;
  opacity: 50%;
}

@media (max-width: 560px) {
  .table td {
    width: 55px;
    height: 55px;
  }

  .draggable {
    font-size: 35px;
    width: 50px;
    height: 50px;
  }

  .figure_box {
    width: 50px;
    margin-left: 10px;
  }

  .result {
    top: 8px;
    left: 7px;
    font-size: 35px;
  }
}
