.flip_outer {
  width: 165px;
  height: 220px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.flip_inner {
  position: relative;
  transition: all 1s;
  transform-style: preserve-3d;
}

.front {
  width: 100%;
  height: 220px;
  position: absolute;
  backface-visibility: hidden;
  z-index: 1;
}

.back {
  width: 100%;
  height: 220px;
  position: absolute;
  text-align: center;
  transform: rotateY(180deg);
}

.real_front {
  width: 165px;
  height: 220px;
  position: absolute;
  z-index: 2;
  border-radius: 5px;
  border: 2px solid black;
}

.choice_box {
  display: flex;
  justify-content: center;
}

.disable {
  pointer-events: none;
}

.cb {
  margin: 0px 10px;
  cursor: pointer;
}

.correct {
  font-weight: 600;
  color: #ff0000;
}

.number_box {
  display: inline-block;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  margin-right: 3px;
  top: 6px;
}

.correct_border {
  border: 1px solid red;
}

.number {
  position: absolute;
  right: 4.5px;
}

.arrow {
  position: relative;
}

.arrow::after {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 22px; /* 사이즈 */
  height: 15px; /* 사이즈 */
  border-top: 5px solid #ff0000; /* 선 두께 */
  border-right: 5px solid #ff0000; /* 선 두께 */
  transform: rotate(135deg); /* 각도 */
}

.input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
}

/* 중급 난이도 */
.container {
  margin-right: auto;
  margin-left: auto;
  width: 320px;
  display: flex;
  justify-content: space-around;
}

.flip_outer2 {
  width: 165px;
  height: 220px;
  margin-top: 50px;
  margin-bottom: 40px;
}

.flex_box {
  display: flex;
  flex-direction: column;
}

.table {
  display: inline-block;
  margin-top: 50px;
  font-size: 1.3em;
  text-align: center;
}

.table2 {
  display: inline-block;
  margin-top: 50px;
  font-size: 1.3em;
  text-align: center;
}

.table td {
  padding: 3px 6px;
  border: 1px solid black;
  cursor: pointer;
}

.table td:hover {
  background-color: antiquewhite;
}

.table2 td {
  padding: 3px 6px;
  border: 1px solid black;
}

.button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  margin-bottom: 18px;
  margin-top: 34px;
  background-color: rgb(91, 205, 209);
  color: #444444;
}

.button:hover {
  background-color: rgb(199, 113, 113);
  color: rgb(50, 50, 50);
}

.result {
}

.result td {
  background-color: rgb(206, 206, 206);
}
