.side_inner_div {
  width: 100%;
  margin-bottom: 24px;
}

.button {
  position: relative;
  border: none;
  display: inline-block;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 15px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: rgb(240, 243, 245);
  color: #112529;
}

.button:hover {
  background-color: rgb(209, 211, 212);
  color: #4a666a;
}

.noButton {
  pointer-events: none;
  background-color: rgb(214, 214, 214);
  color: rgb(255, 255, 255);
}

.arrow_div {
  display: inline-block;
}

.middle_box {
  display: flex;
}

.calender_div {
  display: flex;
  flex-direction: column;
  width: 14.28%;
  height: 300px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.calender_top_div {
  text-align: center;
  background-color: #ececff;
  padding: 5px 5px;
  border-bottom: 1px solid black;
}

.calender_bottom_div {
  border-right: 0.5px solid gray;
  padding-top: 5px;
  flex-grow: 1;
}

.reserve_info {
  display: flex;
  margin-bottom: 5px;
}

.green_circle {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background-color: #63f282;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 3px;
  margin-left: 8px;
}

.sentence {
  font-size: 0.8em;
  cursor: pointer;
}

.sentence:hover {
  color: rgb(155, 155, 155);
}
