.button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  background-color: rgb(243, 243, 243);
  color: #112529;
}

.button:hover {
  background-color: gray;
  color: white;
}

@media screen and (max-width: 768px) {
  .top_head {
    font-size: 1.1em;
  }

  .button {
    padding: 4px 20px;
  }
}
