.button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  background-color: rgb(243, 243, 243);
  color: #112529;
  height: 35px;
}

.button:hover {
  background-color: gray;
  color: white;
}

.input_box {
  display: inline-block;
  max-width: 240px;
  min-width: 120px;
  width: 50%;
  height: 20px;
  margin-right: 8px;
}

.top_head {
  margin-top: 6px;
  font-weight: bold;
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .top_head {
    font-size: 1em;
  }

  .button {
    padding: 4px 18px;
    font-size: 0.9em;
  }

  .input_box {
    width: 50%;
  }
}
