.container {
  max-width: 1600px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.inner_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.notice_body {
  height: 700px;
}

.notice_inner_body {
  height: 700px;
}

.right_menu {
  margin-right: 20px;
}

/** 
  .notice_top_interface
  공지사항 상세내용 상단 그리드를 위한 css
*/
.notice_top_interface {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 15px;
}

/** 
  input 타입의 태그들을 각 페이지별로 css를 차별하기 위해서 클래스로 따로 구분
*/
.notice_button {
  width: 101px;
  height: 45px;
  border: 0;
  color: white;
  background-color: #a38aec;
  border-radius: 10px;
}

.notice_button_delete {
  width: 101px;
  height: 45px;
  border: 0;
  color: white;
  background-color: #ff2c2c;
  border-radius: 10px;
}

.notice_detail_body {
  border: solid 1px;
  border-radius: 20px;
  height: 750px;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 1px 0.5px rgba(0, 0, 0, 0.1);
}

.notice_detail_body_header_grid {
  margin-top: 50px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: 10% 20% 10% 40% 10%;
  grid-template-rows: 70% 30%;
}

.notice_detail_body_header_item1 {
  grid-column-start: 2;
  grid-column-end: 6;
}
.notice_detail_body_header_item2 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.notice_detail_body_header_item3 {
  grid-column-start: 3;
  grid-column-end: 4;
}

.notice_detail_body_header_item4 {
  grid-column-start: 4;
  grid-column-end: 5;
}

.notice_detail_body_header_item5 {
  grid-column-start: 5;
  grid-column-end: 6;
}

.notice_detail_body_content {
  margin-left: 120px;
  margin-top: 50px;
  margin-right: 120px;
  line-height: 30px;
  text-align: left;
  font-family: "GmarketLight";
}

.notice_detail_body_content_text {
  margin-top: 10px;
}

.font_gray {
  color: gray;
}

@media screen and (max-width: 1050px) {
  .notice_detail_body_header_grid {
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-columns: 5% 30% 15% 50%;
    grid-template-rows: 70% 30%;
  }

  .notice_detail_body_content {
    margin-left: 30px;
    margin-right: 120px;
    line-height: 30px;
    text-align: left;
  }
}

@media screen and (max-width: 700px) {
  .notice_detail_body_header_grid {
    margin-top: 15px;
    margin-left: 5px;
    display: grid;
    grid-template-columns: 3% 50% 5% 40%;
    grid-template-rows: 60% 40%;
  }

  .notice_detail_body_header_item1_text {
    font-size: 1.1em;
  }

  .notice_detail_body_content {
    margin-top: 0;
    margin-left: 10px;
    line-height: 25px;
    width: 200px;
    text-align: left;
  }

  .notice_detail_body_content_text {
    width: 310px;
    white-space: pre-line;
  }

  .right_menu {
    margin-right: 2px;
  }
}
