.container {
  max-width: 1600px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.inner_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.notice_body {
  margin-bottom: 50px;
}

.notice_link {
  text-decoration: none;
  color: inherit;
}

/** 
  .notice_top_interface
  공지사항 메인페이지 상단 버튼 그리드를 위한 css
  .notice_header_container
  보드의 각 항목의 column 기준이 되는 부분(최상단)
  .notice_header_item
  보드의 각각의 row가 되는 부분
  grid 값은 column 개수에 따라 다르게 수정
*/
.notice_top_interface_grid {
  display: grid;
  grid-template-columns: 50% 12% 28% 8%;
  margin-top: 45px;
  margin-bottom: 15px;
}

.notice_header_container {
  background-color: #d1d0ff;
  height: 50px;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
}

.notice_header_item {
  height: 50px;
  display: grid;
  grid-template-columns: 10% 70% 10% 10%;
  text-align: center;
  align-items: center;
  border-bottom-style: inset;
  font-size: 1em;
}

.notice_pagination {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: inherit;
}

.page_number {
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  color: inherit;
}

/** 
  input 타입의 태그들을 각 페이지별로 css를 차별하기 위해서 클래스로 따로 구분
*/
.notice_button {
  width: 101px;
  height: 45px;
  border: 0;
  color: white;
  background-color: #a38aec;
  border-radius: 10px;
}

.notice_text {
  width: 70%;
  height: 40px;
  border: solid 1px #d2cfcf;
  border-radius: 10px;
}

@media screen and (max-width: 1400px) {
  .notice_top_interface_grid {
    display: grid;
    grid-template-columns: 15% 15% 25% 10%;
    margin-top: 45px;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1060px) {
  .count_hidden {
    display: none;
  }

  .notice_header_container {
    background-color: #d1d0ff;
    height: 50px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    text-align: center;
    align-items: center;
    font-size: 1.2em;
  }

  .notice_header_item {
    height: 50px;
    display: grid;
    grid-template-columns: 10% 60% 30%;
    text-align: center;
    align-items: center;
    border-bottom-style: inset;
    font-size: 1em;
  }
}

@media screen and (max-width: 910px) {
  .notice_top_interface_grid {
    grid-template-columns: 40% 30%;
    grid-template-rows: 35% 35% 40%;
  }

  .notice_button {
    width: 70px;
  }

  .notice_top_interface_item3 {
    display: flex;
    width: 130%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .notice_top_interface_item1 {
    display: flex;
    grid-row-start: 3;
  }

  .notice_top_interface_item2 {
    display: flex;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
  }

  .notice_top_interface_item4 {
    display: flex;
    grid-column-start: 2;
  }
}
