p,
h3 {
  margin: 0px;
}

/* 아래 cotainer를 먼저 페이지에 선언하고 그 아래에 inner_container를 생성하고 거기서 내용물을 작성합시다 */

.container {
  max-width: 1600px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.inner_container {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0px;
  }

  .inner_container {
    width: 100%;
  }
}

@keyframes loadEffect1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes loadEffect2 {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadEffect3 {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  50% {
    opacity: 0.5;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes loadEffect4 {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadEffect5 {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
  50% {
    opacity: 0.5;
    transform: translateY(5px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes loadEffect6 {
  0% {
    opacity: 0;
    transform: scale(0.7);
  }
  65% {
    opacity: 0.65;
    transform: scale(1.01);
  }
  85% {
    opacity: 0.85;
    transform: scale(0.97);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes rotateCard {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

@keyframes rotateCard2 {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(-90deg);
  }
  100% {
    transform: rotateY(-180deg);
  }
}

@keyframes rotateCard_opacity_no {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@media screen and (max-width: 500px) {
  .inner_container {
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
