.board {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.inner_board {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-top: 30px;
  padding-bottom: 30px;
}
