* {
  font-family: "GmarketMedium";
  font-size: 16px;
}

body {
  margin: 0;
}

@font-face {
  font-family: "GmarketBold";
  src: url("../public/font/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketMedium";
  src: url("../public/font/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketLight";
  src: url("../public/font/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: normal;
}
