.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 40px;
}

.gif {
  width: auto;
  height: 264px;
  object-fit: cover;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 0.9em;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 25px;
    margin-right: 25px;
  }

  .gif {
    width: 300px;
    height: 264px;
    object-fit: contain;
  }
}
