.wrapper {
  width: 320px;
  height: 95vh;
  background-color: #fbf9f9;
  border-radius: 10px;
  box-shadow: -5px 0px 20px 0 rgb(0, 0, 0, 25%);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  position: absolute;
  right: 10px;
}

.chatting_container {
  height: 75%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
}

.chatting_container::-webkit-scrollbar {
  width: 8px;
}
.chatting_container::-webkit-scrollbar-thumb {
  background-color: #a19595;
  border-radius: 10px;
}
.chatting_container::-webkit-scrollbar-track {
  background-color: #e8e8e8;
  box-shadow: inset 0 4px 4px 0 rgb(0, 0, 0, 25%);
  border-radius: 10px;
}
/* 나의 말풍선 */
.my_bubble_container {
  min-height: 32px;
  height: auto;
  margin: 10px;
  display: flex;
  justify-content: end;
}
.my_bubble {
  margin-right: 20px;
  position: relative;
  width: auto;
}
.my_bubble_content {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #faff00;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
  box-shadow: -4px 4px 4px 0 rgb(0, 0, 0, 25%);
}
.my_bubble_tail {
  position: absolute;
  top: 0px;
  right: -10px;

  width: 15px;
  height: 10px;

  border-bottom: 15px solid transparent;
  border-top: 15px solid #faff00;
  border-left: 10px solid transparent;
  border-right: 15px solid transparent;
}

/* 너의 말풍선 */
.your_wrapper {
  display: flex;
}
.your_name {
  font-size: 0.8em;
  margin-left: 10px;
}
.your_bubble_container {
  min-height: 32px;
  height: auto;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
}
.your_bubble {
  margin-right: 20px;
  position: relative;
  width: auto;
}
.your_bubble_content {
  text-align: center;
  width: auto;
  height: auto;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  border-radius: 5px;
  padding: 10px;
  font-size: 0.8em;
  box-shadow: 4px 4px 4px 0 rgb(0, 0, 0, 25%);
}
.your_bubble_tail {
  position: absolute;
  top: 0px;
  left: -10px;

  width: 15px;
  height: 10px;

  border-bottom: 15px solid transparent;
  border-top: 15px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 15px solid transparent;
}
.your_bubble_profile {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}
/* input */
.textarea_container {
  position: relative;
  height: 20%;
}

.textarea {
  width: 100%;
  padding: 15px;
  border: 0;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 25%);
  border-radius: 10px;
  height: 100%;
  resize: none;
  font-size: 0.8em;
}

.submit {
  position: absolute;
  right: 13px;
  bottom: 5px;
  font-size: 0.8em;
  color: grey;
}
