.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border-radius: 100%;
  font-size: 1.5em;

  position: absolute;
  right: 15px;
  bottom: 20px;
}

.image {
  width: 300px;
  height: 200px;
  object-fit: cover;
  margin: 0 40px;
  border-radius: 10px;
}
