.body {
  display: flex;
}

.button {
  height: 20px;
}

.tools {
  padding: 5px;
  background-color: white;
  display: flex;
  justify-content: space-between;
}

.fill {
  display: inline;
}

.icon {
  background-color: #90b5fb;
  border: 1px #b2caf5;
}

.icon2 {
  background-color: #ffffff;
  border: 1px #ffffff;
}

.icon_img {
  width: 25px;
  transition: 0.3s;
}

.icon2:hover {
  background-color: #e6faff;
}

.right_side {
  width: 180px;
  border-left: solid 1px rgb(236, 236, 236);
  background-color: #f9f9f9;
  border-bottom-right-radius: 10px;
}

.options {
  padding: 10px;
}

.option {
  padding-top: 6px;

  margin-bottom: 20px;
}

.option_div {
  display: flex;
  flex-direction: column;
}
.option_span {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input_range {
  width: 140px;
}

.input_checkbox {
  width: 20px;
  height: 20px;
  background-color: #b2caf5;
  margin-right: 15px;
}
