.body {
  display: flex;
}

.button {
  height: 20px;
}

.option {
  display: block;
}

.tools {
  display: flex;
  align-items: start;
}

.fill {
  display: inline;
}

.icon {
  background-color: #b2caf5;
  border: 1px #b2caf5;
}

.icon2 {
  background-color: #ffffff;
  border: 1px #ffffff;
}

.right_side {
  background-color: #fff7ed;
  border-bottom-right-radius: 10px;
}

.option {
  padding-top: 6px;
  padding-left: 6px;
}
