/* 여기 side_right_board가 sideNav와 호응되는 오른쪽 부분 입니다.
    넓이를 기본적으로 85%를 주고 992px 테블릿 구간에서 padding-left를 20px로 줄이고
    모바일 사이즈 부터는 width 100% 주셔서 사용하시면 됩니다.  */
.side_right_board {
  width: 85%;
  height: 100%;
  padding-left: 40px;
  font-size: 1em;
}

.side_right_board h1 {
  font-weight: bold;
}

.side_right_board h4 {
  margin: 10px 0px 0px 0px;
}
.side_right_board p {
  margin: 0px 0px 0px 0px;
  font-size: 0.9em;
  cursor: auto;
}

.exp_box {
  display: flex;
  justify-content: space-between;
  vertical-align: bottom;
}

.exp_box h4 {
  display: inline-block;
  font-weight: bold;
  margin-top: auto;
  margin-bottom: auto;
}

.exp_box span {
  font-size: 0.9em;
  margin-left: 15px;
  color: gray;
}

.arrow_box {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 12px;
  cursor: pointer;
  color: blue;
}

.content_box_hiden {
  height: 0px;
  transition: 0.5s;
  overflow: hidden;
}

.content_box_opened {
  height: 100px;
  transition: 0.5s;
}

.bottom_box {
  display: flex;
  justify-content: space-around;
}

.bottom_box img {
  display: block;
  width: 30%;
  margin-right: 10%;
  margin-top: auto;
  margin-bottom: auto;
}

.inner_bottom_box {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.inner_bottom_box h3,
.inner_bottom_box h4 {
  text-align: right;
}

.inner_bottom_box h3 {
  margin-bottom: 0;
}

.inner_bottom_box h4 {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.inner_bottom_box p {
  font-size: 0.9em;
}

@media screen and (max-width: 1300px) {
  .content_box_opened {
    height: 120px;
  }
}

@media screen and (max-width: 1120px) {
  .content_box_opened {
    height: 130px;
  }
}

@media screen and (max-width: 992px) {
  .side_right_board {
    padding-left: 20px;
  }

  .side_right_board h4 {
    font-size: 1.1em;
  }

  .side_right_board p {
    font-size: 0.9em;
  }

  .content_box_opened {
    height: 165px;
  }
}

@media screen and (max-width: 880px) {
  .bottom_box {
    display: flex;
    flex-direction: column;
  }

  .bottom_box img {
    display: block;
    width: 40%;
    margin: 20px auto;
  }

  .inner_bottom_box {
    display: flex;
    width: 90%;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .inner_bottom_box h3 {
    text-align: center;
    font-size: 1.8em;
  }

  .inner_bottom_box h4 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 1.2em;
  }

  .side_right_board p {
    font-size: 1em;
  }

  .content_box_opened {
    height: 170px;
  }
}

@media screen and (max-width: 768px) {
  .side_right_board {
    width: 100%;
  }

  .inner_bottom_box {
    width: 100%;
  }

  .content_box_opened {
    height: 180px;
  }
}

@media screen and (max-width: 550px) {
  .content_box_opened {
    height: 190px;
  }
}

@media screen and (max-width: 460px) {
  .content_box_opened {
    height: 200px;
  }
}
