.streamcomponent_you video {
  width: 522px;
  height: auto;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-radius: 10px;
  position: absolute;
  right: -10px;
}

.streamcomponent_me video {
  width: 206px;
  height: auto;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  position: absolute;
  right: -227px;
  top: 338px;
  border-radius: 10px;
}

.streamcomponent_multi video {
  width: 400px;
  display: inline-block;
  height: auto;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 8px;
  color: #777777;
  font-weight: bold;
  border-radius: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
