.streamcomponent_you video {
  width: 480px;
  height: auto;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  border-radius: 20px;
}

.streamcomponent_me video {
  width: 190px;
  height: auto;
  background: #f8f8f8;
  padding-left: 5px;
  padding-right: 5px;
  color: #777777;
  font-weight: bold;
  position: relative;
  right: -500px;
  top: -200px;
  border-radius: 20px;
}

p {
  margin: 0;
}
