.fr {
  float: right;
}

.fl {
  float: left;
}
.banner_background {
  position: absolute;
  width: 100vw;
  height: 400px;
  background: linear-gradient(
    to left,
    rgb(103, 80, 148) 20%,

    rgba(39, 81, 111, 1) 80%
  );
}
.main_banner {
  background: linear-gradient(
      to left,
      rgb(103, 80, 148) 1%,
      rgba(39, 81, 111, 0) 10%,
      rgba(39, 81, 111, 0.2) 60%,
      rgba(39, 81, 111, 0.5) 75%,
      rgba(39, 81, 111, 1) 100%
    ),
    url(../../public/img/mainBanner.png.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  width: 100%;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.main_banner_words {
  position: absolute;
  top: 25%;
  left: 5%;
  color: rgb(231, 230, 230);
}

.main_banner_words h2 {
  margin-bottom: 30px;
}

.main_color_board {
  width: 100%;
  margin-bottom: 30px;
  padding: 5%;
  background-color: #ebfffe;
  text-align: center;
}

.page_card h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.last_box h3 {
  font-weight: bold;
  margin-bottom: 10px;
}

.main_color_board h3 {
  font-weight: bold;
  margin-bottom: 40px;
}
.cards {
  display: flex;
  justify-content: center;
}

.page_card {
  width: 48%;
  min-width: 338px;
  height: 480px;
  min-height: 340px;
  padding: 40px;
  /* margin-top: 0px; */
  margin: 0 10px;
  position: relative;
  margin-bottom: 30px;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 5px;
  /* box-shadow: 20px 20px 3px 7px rgba(0, 0, 0, 0.2); */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.page_card p {
  font-size: 0.9em;
  color: rgb(160, 160, 160);
}

.card {
  display: block;
  width: 70%;
  min-width: 200px;
  /* border: 1px solid black; */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  object-fit: cover;
}

.main_img_board {
  width: 100%;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  padding: 5%;
}

.card2 {
  display: block;
  height: 100%;
  width: 45%;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.card3 {
  display: block;
  height: 100%;
  width: 55%;
  text-align: center;
  margin-bottom: 20px;
  font-size: 0.9em;
}

.quoto_left {
  display: inline-block;
  width: 30%;
  height: auto;
  margin-top: 5%;
  vertical-align: top;
  font-size: 50px;
  color: rgb(211, 211, 211);
}

.quoto_center {
  display: inline-block;
  margin-top: 15%;
  vertical-align: top;
  width: 40%;
}

.quoto_right {
  display: inline-block;
  width: 30%;
  margin-top: 25%;
  height: auto;
  vertical-align: bottom;
  font-size: 50px;
  color: rgb(211, 211, 211);
}

.last_box {
  margin-top: 40px;
  text-align: center;
}

.button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: rgb(240, 243, 245);
  color: #112529;
}

.button:hover {
  background-color: rgb(193, 193, 193);
  color: #ffffff;
}

@media screen and (max-width: 1200px) {
  .page_card {
    height: 420px;
  }
}

@media screen and (max-width: 992px) {
  .page_card h3 {
    font-size: 1.2em;
  }

  .page_card,
  .card2,
  .card3 {
    font-size: 0.7em;
  }

  .page_card {
    width: 48%;
    height: auto;
    min-width: auto;
  }

  .main_banner_words h2 {
    font-size: 1.4em;
  }

  .main_banner_words h4 {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 768px) {
  .fr {
    float: none;
  }

  .fl {
    float: none;
  }

  .page_card h3 {
    font-size: 1em;
  }

  .card2,
  .card3,
  .page_card {
    width: 100%;
    font-size: 1em;
  }

  .card2 {
    font-size: 0.7em;
  }

  .card3 {
    font-size: 0.85em;
  }

  .main_banner_words h2 {
    font-size: 1.2em;
  }

  .main_banner_words h4 {
    font-size: 1em;
  }

  .main_color_board {
    font-size: 0.5em;
  }

  .quoto_center {
    width: 70%;
  }

  .quoto_center p {
    font-size: 0.8em;
  }

  .quoto_left,
  .quoto_right {
    font-size: 2em;
    width: 15%;
  }

  .last_box h3 {
    font-size: 1.1em;
  }
}
