.banner_background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 400px;
  background: linear-gradient(
    to left,
    rgb(180, 173, 144) 50%,
    rgba(39, 81, 111, 1) 50%
  );
}

.banner {
  background: linear-gradient(
      to left,
      rgb(180, 173, 144) 1%,
      rgba(39, 81, 111, 0) 10%,
      rgba(39, 81, 111, 0.2) 60%,
      rgba(39, 81, 111, 0.5) 75%,
      rgba(39, 81, 111, 1) 100%
    ),
    url(../../public/img/banner_2.png);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  text-align: center;
  line-height: 400px;
  color: white;
  font-size: 3em;
}

@media screen and (max-width: 700px) {
  .banner {
    height: 150px;
  }

  .title {
    line-height: 150px;
  }
}
