.banner {
  background: linear-gradient(
      to left,
      rgba(39, 81, 111, 0) 50%,
      rgba(39, 81, 111, 0.5) 60%,
      rgba(39, 81, 111, 0.75) 75%,
      rgba(39, 81, 111, 1) 100%
    ),
    url(../img/notice.jpg);
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  height: 400px;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.title {
  text-align: center;
  line-height: 400px;
  color: white;
  font-size: 3em;
}

@media screen and (max-width: 700px) {
  .banner {
    height: 150px;
  }

  .title {
    line-height: 150px;
  }
}
