.wrapper {
  height: 100vh;
  margin-left: 7vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.main_container {
  width: 1200px;
  height: 550px;
  display: flex;
}
.left_container {
  width: 38%;
  position: relative;
  margin-right: 2%;
}
.right_container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* 상호작용 박스 */
.right_up_container {
  width: 100%;
  height: 330px;
  border-radius: 10px;
  border: 1px solid black;
}

.interaction_box {
  height: 290px;
  position: relative;
  /* z-index: -1; */
}

.interaction_nav {
  width: 100%;
  height: 40px;
  background-color: #f5f5f5;
  border-bottom: 1px solid black;
  border-radius: 10px 10px 0 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;

  position: relative;
}

.interaction_menu {
  width: 170px;
  height: 0px;
  background-color: white;
  border-radius: 5px;
  padding: 0 10px;
  transition: ease-in-out 0.2s;

  position: absolute;
  top: 40px;
  right: 0px;

  overflow: hidden;
  z-index: 20;
}

.interaction_menu > div {
  margin: 10px 0;
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.dropdown {
  transition: ease-in-out 0.3s;
  cursor: pointer;
}

.dropdown:hover .bars {
  color: #1f5ba5;
}

.dropdown:hover .interaction_menu {
  height: 145px;
  border: 1px solid black;
}

.interaction_menu div:hover {
  background-color: #ddd;
}

/* 상호작용 박스 밑에 있는 박스 */
.right_bottom_container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
}

/* 프리셋 */
.preset_container {
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.preset {
  border: 1px solid black;
  border-radius: 10px;
  width: 49.5%;
  height: 58px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  transition: ease-in-out 0.2s;

  cursor: pointer;
  position: relative;
}
.preset:hover {
  color: #0010c1;
  box-shadow: inset 2px 2px 2px 2px rgb(0, 0, 0, 25%);
}

.blink {
  animation: blink 1s step-end infinite;
  -webkit-animation: blink 1s step-end infinite;
}
/* for MS계열 브라우저 */
@keyframes blink {
  25% {
    background-color: white;
    animation-timing-function: ease-in-out;
  }
  75% {
    background-color: #ffcd1a;
    animation-timing-function: ease-in-out;
  }
}
/* for Chrome, Safari */
@-webkit-keyframes blink {
  25% {
    background-color: white;
    animation-timing-function: ease-in-out;
  }
  75% {
    background-color: #ffcd1a;
    animation-timing-function: ease-in-out;
  }
}
.emoji {
  font-size: 1.8em;
}
/* 프리셋을 클릭하면 화상화면에 띄워지는 이모지 */
.alert_emoji_box {
  position: absolute;
  right: 0;
  bottom: 0;
}
.alert_emoji {
  font-size: 2.5em;
}

/* 버튼 */
.btn_container {
  display: flex;
  margin-top: 20px;
}

.btn_container > button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  transition: ease-in-out 0.2s;
  height: 52px;
  box-shadow: 0 4px 4px 0 rgb(0, 0, 0, 25%);
}

.btn_share:hover,
.btn_comment:hover,
.btn_x:hover {
  background-color: rgb(217, 225, 255);
  color: #3c3c3c;
}

.btn_video {
  font-size: 1.2em;
  background-color: white;
  width: 200px;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  border: 1px solid rgb(101, 101, 101);
}

.btn_mic {
  font-size: 1.2em;
  background-color: white;
  width: 200px;
  border-radius: 20px;
  transition: ease-in-out 0.2s;
  border: 1px solid rgb(101, 101, 101);
}

.btn_share {
  border: 0;
  font-size: 25px;
  border-radius: 100%;
  width: 52px;
  color: white;
  background-color: #868686;
}

.btn_comment {
  border: 0;
  font-size: 25px;
  border-radius: 100%;
  width: 52px;
  color: white;
  background-color: #ffcd1a;
  position: relative;
}

.btn_x {
  border: 0;
  font-size: 25px;
  border-radius: 100%;
  width: 52px;
  color: white;
  background-color: #ff2f2f;
}

/* 읽지 않은 채팅 */
.notCheckMsg {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 70px;
  right: 0px;

  background-color: #ffcd1a;
  color: #575757;
  width: 220px;
  height: 38px;
  font-size: 14px !important;
  border-radius: 5px;

  box-shadow: 5px 5px 5px 1px rgb(0, 0, 0, 25%);
}

.vhidden {
  display: none;
}

.notCheckMsgTail {
  width: 10px;

  border-bottom: 10px solid transparent;
  border-top: 17px solid #ffcd1a;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  position: absolute;
  right: 20px;
  bottom: -25px;
}

.btn_video:hover,
.btn_mic:hover {
  background-color: rgb(105, 129, 105);
  color: #f4f4f4;
}
