.wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.background {
  position: fixed;
  object-fit: cover;
  width: 100vw;
  height: 100vh; /* 스크롤 안 생기는 최대 높이로 바꿔야 됨*/
  z-index: -1;
  background-attachment: fixed;
  top: 0px;
}
