.header_container {
  background-color: #d1d0ff;
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
}

.content_container {
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 1em;
  border-bottom: 1px solid gray;
}

.button {
  position: relative;
  border: none;
  display: inline-block;
  padding: 4px 25px;
  border-radius: 15px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  transition: 0.25s;
  background-color: rgb(243, 243, 243);
  color: #112529;
}

.button:hover {
  background-color: rgb(209, 211, 212);
  color: white;
}

.header_container3 {
  background-color: #d1d0ff;
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 1.2em;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
}

.content_container3 {
  height: 50px;
  display: grid;
  text-align: center;
  align-items: center;
  font-size: 1em;
  border-bottom: 1px solid gray;
}

.fontR {
  color: red;
}

.fontB {
  color: blue;
}

@media screen and (max-width: 1200px) {
  .button2 {
    padding: 3px 13px;
  }
}

@media screen and (max-width: 1050px) {
  .header_container3 {
    height: 50px;
    font-size: 1em;
  }

  .content_container3 {
    height: 50px;
    font-size: 0.8em;
  }

  .button2 {
    padding: 3px 10px;
  }
}

@media screen and (max-width: 600px) {
  .button {
    padding: 4px 15px;
  }

  .button2 {
    font-size: 0.9em;
    padding: 3px 6px;
  }

  .header_container {
    font-size: 0.8em;
  }

  .header_container3_title {
    height: 22px;
    font-size: 14px;
  }

  .content_container3 {
    font-size: 0.7em;
  }

  .content_container4 {
    font-size: 0.75em;
  }

  .content_container {
    font-size: 0.8em;
  }

  .button3 {
    font-size: 0.95em;
    padding: 6px 8px;
  }
}
