.footer {
  max-width: 1600px;
  height: 200px;
  background-color: #f3efef;
  margin-left: auto;
  margin-right: auto;
}

.innerfooter {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  display: flex;
}

.leftdiv {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.marathon {
  display: block;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
}

.ssafy {
  display: block;
  height: 50px;
  width: 63px;
  box-sizing: border-box;
}

.centerdiv {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
  font-size: 0.8rem;
}

.centerinnerdiv {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.centerinnerdiv p {
  display: inline-block;
}

.centerdiv p {
  margin: 0px;
}

.rightdiv {
  width: 20%;
  height: 84%;
  display: flex;
  align-items: flex-end;
}

.ground {
  padding-top: 5px;
  margin: 5px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px gray;
}

.gitlab {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 80%;
}

.jira {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 70%;
}

.notion {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 78%;
  width: 78%;
}

@media screen and (max-width: 992px) {
  .centerdiv {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    min-width: 420px;
  }

  .innerfooter {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .leftdiv {
    margin: 10px 0px 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
  }
  .centerdiv {
    display: flex;
    text-align: center;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 0.7rem;
  }
  .centerinnerdiv {
    margin: auto;
  }
  .rightdiv {
    margin: 20px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}
