.footer {
  max-width: 1600px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
}

.inner_footer {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 80%;
  display: flex;
}

.left_div {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.marathon {
  display: block;
  height: 60px;
  width: 60px;
  box-sizing: border-box;
  cursor: pointer;
}

.ssafy {
  display: block;
  height: 50px;
  width: 63px;
  box-sizing: border-box;
  cursor: pointer;
}

.center_div {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 35px;
}

.center_div p {
  font-size: 0.9em;
}

.center_inner_div {
  width: 150px;
  display: flex;
  justify-content: space-between;
}
.center_inner_div p {
  display: inline-block;
}

.center_div p {
  margin: 0px;
}

.right_div {
  width: 20%;
  height: 84%;
  display: flex;
  align-items: flex-end;
}

.ground {
  padding-top: 5px;
  margin: 5px;
  min-height: 40px;
  min-width: 40px;
  max-height: 40px;
  max-width: 40px;
  border-radius: 50px;
  box-shadow: 1px 1px 1px 1px gray;
}

.gitlab {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 80%;
  cursor: pointer;
}

.jira {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 80%;
  width: 70%;
  cursor: pointer;
}

.notion {
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 78%;
  width: 78%;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .footer {
    height: auto;
    min-width: 420px;
  }

  .inner_footer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  .left_div {
    margin: 30px 0px 20px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    width: 40%;
    flex-direction: row;
    justify-content: space-around;
  }
  .center_div {
    display: flex;
    text-align: center;
    width: auto;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .center_div p {
    font-size: 0.8em;
  }

  .center_inner_div {
    margin: auto;
  }
  .right_div {
    margin: 20px 0px 10px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    display: flex;
    justify-content: space-around;
  }
}
