.header {
  max-width: 1600px;
  height: 65px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 16px;
  position: relative;
  background-color: white;
}

.clickable {
  cursor: pointer;
}
.logo {
  margin-left: 16px;
}

.logo img {
  display: block;
  height: 58px;
  cursor: pointer;
}

.header__menulist {
  list-style: none;
  display: flex;
  margin-bottom: 0px;
  margin-left: 5px;
  font-size: 1em;
  z-index: 1;
}

.sub_menu {
  color: black;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  width: 165px;
  text-shadow: none;
  box-shadow: 0px 3px 4px 1px rgb(67, 67, 67, 0.5);
  position: absolute;
  bottom: -168px;
  left: 10px;
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
  cursor: auto;
}

.sub_menu2 {
  color: black;
  border-radius: 10px;
  background-color: rgb(248, 248, 248);
  width: 165px;
  text-shadow: none;
  box-shadow: 0px 3px 4px 1px rgb(67, 67, 67, 0.5);
  position: absolute;
  bottom: -168px;
  left: 10px;
  visibility: hidden;
  transition: all 0.4s;
  opacity: 0;
  cursor: auto;
}

.sub_menu_common {
  bottom: -250px;
}
.sub_menu_admin {
  bottom: -210px;
}

.sub_menu:before {
  border-top: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rgb(248, 248, 248);
  content: "";
  position: absolute;
  top: -12px;
  left: 30px;
}

.sub_menu dl {
  margin-top: 1rem;
  margin-left: 15px;
}

.sub_menu dl:hover {
  color: rgb(182, 181, 181);
  cursor: pointer;
}

.header__left {
  display: flex;
}

.header__right_not_mobile {
  list-style: none;
  display: flex;
  margin-right: 2em;
  font-size: 1em;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}

.header__right {
  list-style: none;
  margin-right: 2em;
  font-size: 1em;
  margin-bottom: 0px;
  display: none;
  z-index: 1;
}

.header li {
  padding: 0 1em;
  cursor: pointer;
  position: relative;
}

.header span:hover {
  color: rgb(182, 181, 181);
  text-shadow: 1px 1px 1px rgb(182, 181, 181);
}

.header li:hover .sub_menu {
  visibility: visible;
  opacity: 1;
}

.header__right_not_mobile li:hover {
  text-shadow: 1px 1px 1px rgb(182, 181, 181);
}

.toggle {
  display: none;
  font-size: 1.5em;
  padding: 1em 1em;
}

.user {
  display: none;
  font-size: 1.5em;
  padding: 1em 1em;
  position: relative;
}

.profile {
  width: 30px;
  height: 30px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 14px;
}

.profile_header {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  cursor: pointer;
  position: absolute;
  top: -10px;
  left: 0px;
}

.header_eatspace {
  flex-grow: 1;
}

.badge {
  height: 21px;
  width: 21px;
  background-color: red;
  text-align: center;
  vertical-align: middle;
  border: 2px solid white;
  color: white;
  border-radius: 100px;
  position: absolute;
  cursor: pointer;
  top: -10px;
  left: 27px;
  z-index: 2;
}

.badge span {
  position: relative;
  font-size: 0.8em;
  top: -2.2px;
}

.badge span:hover {
  color: white;
  text-shadow: none;
}

.nobadge {
  display: none;
}

@media screen and (max-width: 992px) {
  .header {
    font-size: 14px;
  }

  .header__menulist {
    margin-left: -10px;
  }

  .sub_menu {
    top: auto;
    left: 6px;
    width: 142px;
  }

  .sub_menu_common {
    bottom: -238px;
  }

  .sub_menu_admin {
    bottom: -198px;
  }

  .header li {
    padding: 0 0.63em;
  }

  .header__right {
    margin-right: 1.33em;
  }

  .logo {
    margin-left: 10px;
  }

  .logo img {
    display: block;
    height: 50px;
  }

  .profile_header {
    width: 35px;
    height: 35px;
    top: -8px;
    left: 0px;
  }

  .header__right_not_mobile {
    margin-right: 1em;
  }

  .badge {
    height: 18px;
    width: 18px;
    top: -10px;
    left: 25px;
  }

  .badge span {
    font-size: 0.7em;
  }
}

@media screen and (max-width: 768px) {
  .header {
    flex-wrap: wrap;
  }

  .header__menulist {
    left: 0%;
    top: 101%;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    margin-top: 0 auto;
    margin-left: 0px;
    position: absolute;
    overflow: hidden;
    transition: 0.3s;
    box-shadow: 0px 3px 4px 1px rgb(67, 67, 65, 0.5);
    z-index: 2;
  }

  .menulist_on {
    left: -50%;
    visibility: hidden;
  }

  .header__right {
    right: 0%;
    top: 101%;
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: white;
    margin-top: 0px;
    margin-right: 0px;
    position: absolute;
    transition: 0.2s;
    box-shadow: 0px 3px 4px 1px rgb(67, 67, 65, 0.5);
    z-index: 2;
    overflow: hidden;
  }

  .header_right_on {
    top: -300%;
    z-index: -1;
  }

  .header__right_not_mobile {
    display: none;
  }

  .header__menulist li,
  .header__right li {
    margin: 1em 0;
    padding: 0;
    font-weight: bold;
  }

  .header__right li {
    text-align: right;
    margin-right: 32px;
  }

  .header dl {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .header_eatspace {
    display: none;
  }

  .toggle {
    display: block;
  }

  .logo {
    margin-left: 0px;
    margin-top: -10px;
  }

  .user {
    display: block;
  }

  .sub_menu {
    position: static;
    visibility: visible;
    box-shadow: none;
    opacity: 1;
    height: auto;
    background-color: white;
    font-weight: normal;
  }

  .sub_menu:before {
    border-bottom: 15px solid white;
  }

  .sub_menu dl:before {
    content: "- ";
  }

  .badge {
    height: 18px;
    width: 18px;
    top: -3px;
    left: 30px;
  }

  .badge span {
    font-size: 0.5em;
    top: -9.2px;
  }
}
