/* select box */
.select_box {
  margin: 0;
  min-width: 0;
  width: 98px;
  height: 40px;
  padding: 8px 8px;
  font-size: 0.88em;
  line-height: inherit;
  border: 0.2px solid rgb(189, 189, 189);
  border-radius: 5px;
  color: inherit;
  background-color: transparent;
  font-family: "GmarketLight";
}
