.main_container {
  max-width: 850px;
  width: auto;
  max-height: 223px;
  height: auto;
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
}

/* 첫 번째 칸 */
.container_1 {
  width: 176px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid #c3c3c3;
  padding-right: 20px;
  margin-right: 20px;
}
.title_1 {
  font-size: 1.25em;
  margin-bottom: 20px;
}
.sub_title_1 {
  font-size: 0.75em;
  color: #909090;
}
.sub_content_1 {
  font-size: 0.75em;
}
.sub_container_1 {
  display: flex;
}
.sub_container_1 > div {
  margin-right: 28px;
}

/* 두 번째 칸 */
.container_2 {
  width: 190px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
}
.title_2 {
  font-size: 0.95em;
}
.sub_title_2 {
  font-size: 0.75em;
}
.container_2 > div > div {
  width: 190px;
}
.progress {
  width: 193px;
  height: 11px;
  border-radius: 11px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 20px;
  animation: progress 1s ease forwards;
}

.progress::-webkit-progress-bar {
  background-color: #f0f0f0;
  border-radius: 20px;
}
.progress::-webkit-progress-value {
  border-radius: 20px;
}
.green::-webkit-progress-value {
  background-color: #63f282;
}
.yellow::-webkit-progress-value {
  background-color: #fbdb35;
}
.red::-webkit-progress-value {
  background-color: #ff0000;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* 세 번째 칸 */
.container_3 {
  width: 320px;
}
.title_3 {
  font-size: 0.95em;
}
.container_3 input {
  display: none;
}
.container_3 label > button {
  border: #9d9d9d solid 1px;
  background-color: white;
  width: 47px;
  height: 21px;
  font-size: 0.8em;
  border-radius: 5px;
}
.selected {
  background-color: #a38aec !important;
  border: none !important;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 4px inset;
}

.sub_container_3 {
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 15px;
}

@media (max-width: 1200px) {
  .main_container {
    flex-wrap: wrap;
    max-height: none;
    justify-content: center;
  }
  .container_3 {
    margin-top: 50px;
  }
  .sub_container_3 {
    padding-right: 0;
  }
}

@media (max-width: 995px) {
  .line {
    display: none;
  }
  .main_container {
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .container_1 {
    margin: 20px;
    align-items: center;
    justify-content: center;

    border-right: none;
    padding-right: 0px;
    margin-right: 0px;
  }
  .container_2 {
    margin: 20px;
  }
}
