.container {
  max-width: 1350px;
  height: 730px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.inner_container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.title {
  margin-top: 30px;
}

.title_name {
  font-size: 1.5em;
  font-family: "GmarketBold";
}
.title_position {
  font-size: 1.5em;
}

.title_schedule {
  font-size: 1.5em;
  margin-left: 5px;
  color: #3080f8;
}

.date_header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.date_item {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.button {
  width: 80px;
  border: 0;
  border-radius: 15px;
  background-color: #cfcaca;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: 0.25s;
}

.button_disable {
  width: 80px;
  border: 0;
  border-radius: 15px;
  background-color: #e9e3e3;
  color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.button:hover {
  background-color: #b6b2b2;
  color: white;
}

.date_text {
  margin: 0 20px;
  font-size: 1.3em;
  font-family: "GmarketBold";
}

.day_start {
  display: flex;
  border-bottom: 1px solid gray;
}

.day {
  display: flex;
  border-top: 1px;
  border-bottom: 1px solid gray;
}

.day_end {
  display: flex;
}

.day_header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 70px;
  font-size: 1.3em;
  background-color: #dcf2ff;
}

.day_item {
  width: 1500px;
  display: flex;
  align-items: center;
}

/** 일정 미할당된 버튼*/
.button0 {
  width: 110px;
  height: 40px;
  padding: 4px;
  margin-left: 10px;
  visibility: hidden;
}

/** 예약하고자 하는 버튼*/
.button1 {
  width: 110px;
  height: 40px;
  padding: 4px;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #6b6767;
  border-radius: 20px;
  color: #6b6767;
}

.button1:hover:enabled {
  background-color: #a1c0ff;
  border: 0.5px solid #a1c0ff;
  color: #ffffff;
}

/** 이미 에약된 버튼*/
.button2 {
  width: 110px;
  height: 40px;
  padding: 4px;
  margin-left: 10px;
  background-color: #ffffff;
  border: 1px solid #e6e1e1;
  border-radius: 20px;
  color: #e6e1e1;
}

/** 예약 가능 시간 지남 */
.outdated {
  width: 110px;
  height: 40px;
  padding: 4px;
  margin-left: 10px;
  background-color: #ffffff;
  border: 0.5px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
}

/** 예약 버튼 눌렀을때 임시로 표시되는 버튼*/
.button3 {
  width: 110px;
  height: 40px;
  padding: 4px;
  margin-left: 10px;
  background-color: #4d88fb;
  border: none;
  border-radius: 20px;
  color: white;
}

.save_button_div {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.save_button {
  width: 180px;
  height: 40px;
  padding: 4px;
  border: none;
  border-radius: 20px;
  background-color: #acabf9;
  color: white;
  font-size: 1.5em;
}
