.span {
  font-size: 0.7em;
  color: gray;
}

.info {
  padding-left: 15px;
  margin-top: 30px;
  display: flex;
}

.teacher_img {
  width: 70px;
  height: 80px;
  border-radius: 100%;
}

.title {
  font-size: 1.5em;
  margin-top: 30px;
  padding-left: 15px;
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.button_design {
  width: 90%;
  height: 45px;
  border: 0;
  color: white;
  background-color: #4d88fb;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}

.button_design:disabled {
  width: 90%;
  height: 45px;
  border: 0;
  color: white;
  background-color: #ced4e1;
  border-radius: 10px;
  transition: all ease-in-out 0.5s;
}

.content {
  height: 150px;
  padding: 20px;
  font-family: "GmarketLight";
}

.introduce_title {
  font-size: 1.2em;
}
